.container__cuerpo{
  padding-top: 30px;
  padding-bottom: 30px ;
  margin: auto;
  background-color: #efefef;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
